<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>id</key>
		<string>1234</string>
		<key>name</key>
		<string>hola</string>
	</dict>
	<key>1</key>
	<dict>
		<key>id</key>
		<string>12345</string>
		<key>name</key>
		<string>asdasd</string>
	</dict>
</dict>
</plist>
